html,body {
  font-weight: 500;
  font-size: 15px;
}

.toolbar {
    font-weight: bold;
    font-size: 18px;
}

.toolbar .text {
    padding-left: 15px;
    color: white;
    text-decoration:none;
}

.item-title {
    font-size: 17px;
    font-weight: 500;
}
.item-sub-title {
    font-size: 15px;
    font-weight: 500;
}

.active {
    font-weight: bold;
}